<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tonydemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.autonavi.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:name=".MyApplication"
            android:label="@string/app_name"
            android:supportsRtl="true">
        <meta-data
                android:name="indoormap3d_key"
                android:value="65f057b9d5a807646c906738a6a0b727"/>

        <activity
                android:name=".map.indoor.IndoorMainActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <action android:name="android.intent.action.VIEW"></action>
            <category android:name="android.intent.category.DEFAULT"></category>
        </activity>
        <activity
                android:name=".map.indoor.OnlineActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"></activity>


        <activity
                android:name=".MainActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.switchViewDemo.LibActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.recycleViewDemo.RecycleViewMainActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.recycleViewDemo.ui.AnimationGridActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.recycleViewDemo.ui.AnimationListActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.recycleViewDemo.ui.GridActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.recycleViewDemo.ui.ListActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.floatButton.FloatWindowTest"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
                android:name=".customView.floatButton.FloatActivity"
                android:theme="@style/DemoTheme.AppBarOverlay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".customView.switchViewDemo.SwitchStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".customView.mySeekbar.MySeekbarActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".customView.wheel.WheelViewAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".customView.keyboard.KeyboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".http.AirActivtity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".customView.mySeekbar.ChargeSeekbarActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".customView.pickview.PickViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".face.CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity android:name=".customView.circleWave.CustomCircleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <receiver android:name=".face.broadcast.FaceBroadcast">
            <intent-filter>
                <action android:name="com.example.tonydemo.START_FACE"></action>
                <action android:name="com.example.tonydemo.STOP_FACE"></action>
            </intent-filter>
        </receiver>

        <service android:name=".face.FaceService">
            <intent-filter>
                <action android:name="com.example.tonydemo.service.START_FACE"></action>
            </intent-filter>
        </service>
        <receiver android:name=".greendao.GreendaoBroadcast">
            <intent-filter>
                <action android:name="com.example.tonydemo.insert_customer1"></action>
                <action android:name="com.example.tonydemo.delete_customer1"></action>
                <action android:name="com.example.tonydemo.insert_order1"></action>
                <action android:name="com.example.tonydemo.delete_order1"></action>
                <action android:name="com.example.tonydemo.insert_order2"></action>
                <action android:name="com.example.tonydemo.update_order2"></action>
            </intent-filter>
        </receiver>
        <service android:name=".customView.floatButton.FloatService"></service>
    </application>

</manifest>
